figure.center {
  text-align: center;
}

figure.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.center figcaption {
  text-align: center;
}

video.center {
  text-align: center;
}

video.center videocaption {
  text-align: center;
}