{{ define "main" }}
<p><a href="{{ .Parent.RelPermalink }}">← Go Back to {{ .Parent.Title }}</a></p>
<h1>{{ .Title }}</h1>
<content>
  {{ .Content }}

  <ul class="blog-posts">
    {{ range .RegularPagesRecursive.ByDate.Reverse }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <div>
        {{ if .Params.link }}
          <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
        {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
        {{ with .Description }}
          <br>
          <small>{{ . }}</small>
        {{ end }}
      </div>
    </li>
    {{ else }}
    <li>No posts yet.</li>
    {{ end }}
  </ul>
</content>
{{ end }}
